/* Copyright © 2026 Michael FR Marques & Tamara Lechner. All rights reserved. Sanctum — Private and confidential. */
*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

#root {
  width: 100%;
  max-width: 100%;
  text-align: left;
  min-height: 100svh;
}
